@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
*{
	font-family : "Nanum Gothic";
	
}
h1{
	font-family : "Hanna"; 
}

/* 기본 div 설정(배경 및 div 태그의 정렬 등*/

.sort{
    margin:0 auto;
    display:flex;
    width:96vw;
    height:97vh;
    align-items:center;
    align-content:center;
    text-align:center;
    background-color:#000; /*#439694*/
    color:#fff;
}
div{
    padding:2px;
    margin:3px;
}
.sort-div{
    margin-left:auto;
    margin-right:auto;  
}


/*각 홈페이지들의 타이틀격("SiGan","새로 작성하기" 등) 을 설정해줌*/
#title{
    font-size:2.9em;
    /*margin-bottom:-7px;*/
    font-weight:bold; 
}
#nowTime{
    font-size:1.7em;
    /*font-weight:600;*/
}

/* 작성하기 버튼 */
.writeButton{
    display:inline-block;
    border:2px solid #fff;
    font-size:1.1em;
    margin-left:2px;
    margin-right:2px;
    padding:5px 50px 5px 50px;
    border-radius:10px;
}
.writeButton:hover{
    background-color:white;
    color:black;        
}

a{
    color:#fff;
    text-decoration:none;
}
/* #setting{
    width:70vw;
    height:80vh;
    border:2px solid #fff;
    margin:0 auto;
} */
hr{
    width:87%;
    border:2px solid #558ed3;
}
/* #howto{
    font-size:20px;
    font-weight:bold;
}
.howto2{
    margin-left:15px;
    margin-right:15px;
    letter-spacing:1px;
} */
details{
    margin:10px;
    font-size:14px;
}

form{
    margin:0 auto;
    margin-top:10px;
    margin-bottom:10px;
    width:290px;
}
fieldset{
    padding-left:7px;
    padding-right:7px;
    padding-top:5px;
    padding-bottom:5px;
}
#writeBox{
    border:2px solid white;
    margin:0 auto;
    margin-top:10px;
}
textarea{
    margin:0 auto;
    background-color:black;
    color:white;
    border:2px solid white;
    resize:none;
}	
/*버튼 디자인 (div와 똑같은 형태로 함)*/
#btn{
	background-color:black;
	border:2px solid white;
	color:white;
	margin:10px;
}
#btn:hover{
	background-color:white;
	color:black;
}

input[type=email]{
    width:90%;
 	height:32px;
 	border:0px;
 	border-radius:7px;
 	text-align:center;
 	background-color:rgb(233,233,233);
}

